@import "styles/index.scss";

.img-container {
  min-width: 6rem;
  min-height: 6rem;
  max-width: 6rem;
  max-height: 6rem;
  overflow: hidden;
  border-radius: $border-radius;
  background-color: $bg;

  img {
    max-width: 100%;
  }
}

.links {
  a {
    display: inline-block;
  }
  a:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.card .options {
  opacity: 0;
  transition-duration: $transition-duration;
  button:not(:last-child) {
    margin-right: 1rem;
  }
}

.card:hover .options {
  opacity: 1;
}
