$bg: #1b1e20;
$card: #2c3236;
$text: #f0feff;
$text-secondary: #bbd2d6;
$highlight: #70f1f5;
$transparent: #00000000;

$theme-colors: (
  "primary": $highlight,
  "secondary": $text-secondary,
);

@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: $bg;
  color: $text;
}
