@import "~bootstrap/scss/bootstrap.scss";

$bg: #1b1b20;
$text: #ffffff;

body {
  background-color: $bg;
  font-family: Helvetica, sans-serif;
  color: $text;

  h1 {
    font-weight: bold;
  }

  nav {
    padding: 2rem 0;
    align-items: center;
    justify-content: space-between;
  }
}
