@import "styles/colors.scss";

$transition-duration: 0.2s;
$border-radius: 0.75rem;

html,
body,
#root,
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.footer {
  flex: 0 1 auto;
}

body {
  background-color: $bg;
  color: $text;

  a,
  .btn-link {
    color: unset;
    transition-duration: $transition-duration;
    border-bottom: 2px solid transparentize($color: $highlight, $amount: 1);
  }

  a:hover,
  .btn-link:hover {
    color: $highlight;
    text-decoration: unset;
    border-bottom: 2px solid $highlight;
  }

  a.active {
    color: $highlight;
  }

  p {
    margin-bottom: 0.75rem;

    a {
      color: $text-secondary;
      border-bottom: 2px solid transparentize($color: $text-secondary, $amount: 0.5);
    }
  }

  .btn:not(.btn-link),
  .form-control {
    border-radius: $border-radius;
    padding: 0.75rem 1.25rem;
  }

  .btn-primary:hover {
    background-color: $text;
    border-color: $text;
  }

  .card {
    margin-bottom: 1.5rem;
  }

  .card,
  .modal-content,
  .form-control,
  .form-control:focus {
    color: $text;
    background-color: $card;
    border-radius: $border-radius;
    border: none;
  }

  .modal-body {
    padding: 1rem 1.5rem;
  }

  .form-control.is-invalid {
    border: 1px solid $danger;
  }

  .form-control:disabled {
    background-color: transparentize($color: $card, $amount: 0.5);
    color: $text-secondary;
  }

  hr {
    border-color: $card;
    margin: 1.5rem 0;
  }
}
