@import "~bootstrap/scss/bootstrap.scss";
@import "styles/index.scss";

.navbar {
  padding: 2rem 0 !important;

  .top {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-collapse {
    a:not(:first-child) {
      margin-left: 2rem;
    }
  }

  .navbar-toggler {
    border: none;
    padding: 0;
  }

  .navbar-toggler svg {
    color: $text;
    transition-duration: $transition-duration;
  }
  .navbar-toggler:hover svg {
    color: $highlight;
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 1.5rem !important;
  }
  .top {
    margin-bottom: 1rem;
  }
}
