@import "styles/index.scss";

.home-page {
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 6rem;

  .row {
    display: flex;
    justify-content: center;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  .buttons {
    button {
      margin-bottom: 0.5rem;
      display: inline-block;
    }

    button:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .home-img-container {
    padding-right: 1rem;
    padding-bottom: 2rem;
    width: 100%;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}
